body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mouse-event {
    border: 2px solid green;
    margin: 40px;
    min-width: 180px;
    position: relative;
    min-height: 100px;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.mouse-event h4 {
    position: absolute;
    top: -50px;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: 600;
    color: red;
}

@media (min-width: 640px) {
    .container {
        flex-direction: row;
    }
}
