@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

#portfolio {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  color: #333;
}

h3 {
  margin-top: 20px;
}

p,
ul {
  color: #666;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

img {
  height: 100px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.skills-list div {
  border: 2px solid lightblue;
  z-index: 1000;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

@media (max-width: 740px) {
  .skills-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 460px) {
  .skills-list {
    grid-template-columns: 1fr;
  }
}
