body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: url("images/city.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.clock {
    display: flex;
    gap: 10px;
}

.clock div {
    position: relative;
}

.clock span {
    width: 100px;
    height: 80px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 30px;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: white;
    color: brown;
}

.clock #ampm {
    position: absolute;
    bottom: 0;
    height: 50%;
    font-size: 30px;
    background-color: green;
}
